<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentInformationSystem.Properties.Settings.SISConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SIS;Integrated Security=True;Encrypt=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentInformationSystem.Properties.Settings.SISConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SIS;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>